.cartoes {
  display: flex;
  margin: auto;
  width: 80%;
  justify-content: space-between;
  padding-bottom: 10em;
}

.cartao__item {
  width: 25%;
  padding: 0 1em;
}

.cartao__primeiraLinha {
  font-size: 60px;
  color: var(--vermelho);
  font-weight: 600;
}

.cartao__segundaLinha {
  font-size: 18px;
  font-weight: 500;
  color: var(--azul-escuro);
  margin: 1em 0;
}

.cartao__terceiraLinha {
  font-size: 16px;
  font-weight: 400;
  color: var(--cinza-cabecalho);
  line-height: 24px;
}

@media screen and (max-width: 820px) {
  .cartoes {
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-between;
    padding-bottom: 10em;
    flex-wrap: wrap;
  }

  .cartao__item {
    width: 100%;
    padding: 1em 3em;
  }

  .cartao__primeiraLinha {
    font-size: calc(60px +1vw);
    color: var(--vermelho);
    font-weight: 600;
  }

  .cartao__segundaLinha {
    font-size: calc(18px -1vw);
    font-weight: 500;
    color: var(--azul-escuro);
    margin: 1em 0;
  }

  .cartao__terceiraLinha {
    font-size: calc(16px -1vw);
    font-weight: 400;
    color: var(--cinza-cabecalho);
    line-height: 24px;
  }
}
