.oportunidades {
  background-color: #f9fafb;
  text-align: center;
  padding: 5em 0;
  margin-top: 5em;
}

.oportunidades__acompanhe {
  font-size: 36px;
  font-weight: 600;
  color: var(--azul-escuro);
  margin-bottom: 0.5em;
}

.oportunidades__conjunto {
  margin-bottom: 1.5em;
}

.oportunidades__vagas {
  font-size: 20px;
  font-weight: 400;
  color: var(--cinza-cabecalho);
  margin-bottom: 1.5em;
}

.oportunidades__email {
  padding: 1em 10em 1em 0.7em;
  border: 1px solid var(--footer);
  border-radius: 8px;
}

.oportunidades__botao {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--vermelho);
  color: var(--branco);
  border: 1px solid var(--vermelho);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 0.8em 1em;
  margin-left: 1em;
}

.oportunidades__rodape {
  font-size: 16px;
  font-weight: 400;
  color: var(--footer);
}
