@import url(./css/cabecalho.css);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Josefin+Sans:wght@400;700&family=Kanit&family=Nanum+Gothic:wght@700&family=Poppins:wght@300;400;500;700&display=swap");
@import url(./css/banner.css);
@import url(./css/cartao.css);
@import url(./css/vagas.css);

:root {
  --branco: #ffffff;
  --cinza-cabecalho: #667085;
  --vermelho: #8e2424;
  --azul-escuro: #101828;
  --fonte-principal: "Inter", sans-serif;
}

.corpo {
  font-family: var(--fonte-principal);
}
